.cButton {
    position: relative;
    overflow: visible;
    display: inline-block;
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.cButton:hover,
.cButton:focus,
.cButton:active,
.cButton.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

.cButton:active,
.cButton.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

/* overrides extra padding on cButton elements in Firefox */
.cButton::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/* =============================================================================
   Button icons
   ========================================================================== */

.cButton.icon:before {
    content: "";
    position: relative;
    top: 1px;
    float:left;
    width: 12px;
    height: 12px;
    margin: 0 0.75em 0 -0.25em;
    background: url("../images/gh-icons.png") 0 99px no-repeat;
}

.cButton.arrowup.icon:before { background-position: 0 0; }
.cButton.arrowup.icon:hover:before,
.cButton.arrowup.icon:focus:before,
.cButton.arrowup.icon:active:before { background-position: -12px 0; }

.cButton.arrowdown.icon:before { background-position: 0 -12px; }
.cButton.arrowdown.icon:hover:before,
.cButton.arrowdown.icon:focus:before,
.cButton.arrowdown.icon:active:before { background-position: -12px -12px; }

.cButton.arrowleft.icon:before { background-position: 0 -24px; }
.cButton.arrowleft.icon:hover:before,
.cButton.arrowleft.icon:focus:before,
.cButton.arrowleft.icon:active:before { background-position: -12px -24px; }

.cButton.arrowright.icon:before { float:right; margin: 0 -0.25em 0 0.5em; background-position: 0 -36px; }
.cButton.arrowright.icon:hover:before,
.cButton.arrowright.icon:focus:before,
.cButton.arrowright.icon:active:before { background-position: -12px -36px; }

.cButton.approve.icon:before { background-position: 0 -48px; }
.cButton.approve.icon:hover:before,
.cButton.approve.icon:focus:before,
.cButton.approve.icon:active:before { background-position: -12px -48px; }

.cButton.add.icon:before { background-position: 0 -288px; }
.cButton.add.icon:hover:before,
.cButton.add.icon:focus:before,
.cButton.add.icon:active:before { background-position: -12px -288px; }

.cButton.remove.icon:before { background-position: 0 -60px; }
.cButton.remove.icon:hover:before,
.cButton.remove.icon:focus:before,
.cButton.remove.icon:active:before { background-position: -12px -60px; }

.cButton.log.icon:before { background-position: 0 -72px; }
.cButton.log.icon:hover:before,
.cButton.log.icon:focus:before,
.cButton.log.icon:active:before { background-position: -12px -72px; }

.cButton.calendar.icon:before { background-position: 0 -84px; }
.cButton.calendar.icon:hover:before,
.cButton.calendar.icon:focus:before,
.cButton.calendar.icon:active:before { background-position: -12px -84px; }

.cButton.chat.icon:before { background-position: 0 -96px; }
.cButton.chat.icon:hover:before,
.cButton.chat.icon:focus:before,
.cButton.chat.icon:active:before { background-position: -12px -96px; }

.cButton.clock.icon:before { background-position: 0 -108px; }
.cButton.clock.icon:hover:before,
.cButton.clock.icon:focus:before,
.cButton.clock.icon:active:before { background-position: -12px -108px; }

.cButton.settings.icon:before { background-position: 0 -120px; }
.cButton.settings.icon:hover:before,
.cButton.settings.icon:focus:before,
.cButton.settings.icon:active:before { background-position: -12px -120px; }

.cButton.comment.icon:before { background-position: 0 -132px; }
.cButton.comment.icon:hover:before,
.cButton.comment.icon:focus:before,
.cButton.comment.icon:active:before { background-position: -12px -132px; }

.cButton.fork.icon:before { background-position: 0 -144px; }
.cButton.fork.icon:hover:before,
.cButton.fork.icon:focus:before,
.cButton.fork.icon:active:before { background-position: -12px -144px; }

.cButton.like.icon:before { background-position: 0 -156px; }
.cButton.like.icon:hover:before,
.cButton.like.icon:focus:before,
.cButton.like.icon:active:before { background-position: -12px -156px; }

.cButton.favorite.icon:before { background-position: 0 -348px; }
.cButton.favorite.icon:hover:before,
.cButton.favorite.icon:focus:before,
.cButton.favorite.icon:active:before { background-position: -12px -348px; }

.cButton.home.icon:before { background-position: 0 -168px; }
.cButton.home.icon:hover:before,
.cButton.home.icon:focus:before,
.cButton.home.icon:active:before { background-position: -12px -168px; }

.cButton.key.icon:before { background-position: 0 -180px; }
.cButton.key.icon:hover:before,
.cButton.key.icon:focus:before,
.cButton.key.icon:active:before { background-position: -12px -180px; }

.cButton.lock.icon:before { background-position: 0 -192px; }
.cButton.lock.icon:hover:before,
.cButton.lock.icon:focus:before,
.cButton.lock.icon:active:before { background-position: -12px -192px; }

.cButton.unlock.icon:before { background-position: 0 -204px; }
.cButton.unlock.icon:hover:before,
.cButton.unlock.icon:focus:before,
.cButton.unlock.icon:active:before { background-position: -12px -204px; }

.cButton.loop.icon:before { background-position: 0 -216px; }
.cButton.loop.icon:hover:before,
.cButton.loop.icon:focus:before,
.cButton.loop.icon:active:before { background-position: -12px -216px; }

.cButton.search.icon:before { background-position: 0 -228px; }
.cButton.search.icon:hover:before,
.cButton.search.icon:focus:before,
.cButton.search.icon:active:before { background-position: -12px -228px; }

.cButton.mail.icon:before { background-position: 0 -240px; }
.cButton.mail.icon:hover:before,
.cButton.mail.icon:focus:before,
.cButton.mail.icon:active:before { background-position: -12px -240px; }

.cButton.move.icon:before { background-position: 0 -252px; }
.cButton.move.icon:hover:before,
.cButton.move.icon:focus:before,
.cButton.move.icon:active:before { background-position: -12px -252px; }

.cButton.edit.icon:before { background-position: 0 -264px; }
.cButton.edit.icon:hover:before,
.cButton.edit.icon:focus:before,
.cButton.edit.icon:active:before { background-position: -12px -264px; }

.cButton.pin.icon:before { background-position: 0 -276px; }
.cButton.pin.icon:hover:before,
.cButton.pin.icon:focus:before,
.cButton.pin.icon:active:before { background-position: -12px -276px; }

.cButton.reload.icon:before { background-position: 0 -300px; }
.cButton.reload.icon:hover:before,
.cButton.reload.icon:focus:before,
.cButton.reload.icon:active:before { background-position: -12px -300px; }

.cButton.rss.icon:before { background-position: 0 -312px; }
.cButton.rss.icon:hover:before,
.cButton.rss.icon:focus:before,
.cButton.rss.icon:active:before { background-position: -12px -312px; }

.cButton.tag.icon:before { background-position: 0 -324px; }
.cButton.tag.icon:hover:before,
.cButton.tag.icon:focus:before,
.cButton.tag.icon:active:before { background-position: -12px -324px; }

.cButton.trash.icon:before { background-position: 0 -336px; }
.cButton.trash.icon:hover:before,
.cButton.trash.icon:focus:before,
.cButton.trash.icon:active:before { background-position: -12px -336px; }

.cButton.user.icon:before { background-position: 0 -360px; }
.cButton.user.icon:hover:before,
.cButton.user.icon:focus:before,
.cButton.user.icon:active:before { background-position: -12px -360px; }


/* =============================================================================
   Button extensions
   ========================================================================== */

/* Primary cButton
   ========================================================================== */

.cButton.primary {
    font-weight: bold;
}

/* Danger cButton
   ========================================================================== */

.cButton.danger {
    color: crimson;
}

.cButton.danger:hover,
.cButton.danger:focus,
.cButton.danger:active {
    border-color: crimson;
    border-bottom-color: #a0302a;
    color: #fff;
    background-color: #dc5f59;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#dc5f59), to(#b33630));
    background-image: -moz-linear-gradient(#dc5f59, #b33630);
    background-image: -ms-linear-gradient(#dc5f59, #b33630);
    background-image: -o-linear-gradient(#dc5f59, #b33630);
    background-image: linear-gradient(#dc5f59, #b33630);
}

.cButton.danger:active,
.cButton.danger.active {
    border-color: #a0302a;
    border-bottom-color: #bf4843;
    background-color: #b33630;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b33630), to(#dc5f59));
    background-image: -moz-linear-gradient(#b33630, #dc5f59);
    background-image: -ms-linear-gradient(#b33630, #dc5f59);
    background-image: -o-linear-gradient(#b33630, #dc5f59);
    background-image: linear-gradient(#b33630, #dc5f59);
}

/* Pill cButton
   ========================================================================== */

.cButton.pill {
    border-radius: 50em;
}

/* Disabled cButton
   ========================================================================== */

.cButton.disable {
    opacity: 0.5;
}

/* Big cButton
   ========================================================================== */

.cButton.big {
    font-size: 14px;
}

.cButton.big.icon:before {
    top: 0;
}


/* =============================================================================
   Button groups
   ========================================================================== */

/* Standard group
   ========================================================================== */

.cButton-group {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    /* IE hacks */
    zoom: 1;
    *display: inline;
}

.cButton + .cButton,
.cButton + .cButton-group,
.cButton-group + .cButton,
.cButton-group + .cButton-group {
    margin-left: 15px;
}

.cButton-group li {
    float: left;
    padding: 0;
    margin: 0;
}

.cButton-group .cButton {
    float: left;
    margin-left: -1px;
}

.cButton-group > .cButton:not(:first-child):not(:last-child),
.cButton-group li:not(:first-child):not(:last-child) .cButton {
    border-radius: 0;
}

.cButton-group > .cButton:first-child,
.cButton-group li:first-child .cButton {
    margin-left: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cButton-group > .cButton:last-child,
.cButton-group li:last-child > .cButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Minor group
   ========================================================================== */

.cButton-group.minor-group .cButton {
    border: 1px solid #d4d4d4;
    text-shadow: none;
    background-image: none;
    background-color: #fff;
}

.cButton-group.minor-group .cButton:hover,
.cButton-group.minor-group .cButton:focus {
    background-color: #dc5f59;
}

.cButton-group.minor-group .cButton:active,
.cButton-group.minor-group .cButton.active {
    background-color: crimson;
}

.cButton-group.minor-group .cButton.icon:before {
    opacity: 0.8;
}

/* =============================================================================
   Button container (mixing buttons and groups, e.g., nav bar)
   ========================================================================== */

.cButton-container .cButton,
.cButton-container .cButton-group {
    vertical-align: top;
}